<h2>
  Notes
</h2>
<div>
  <div class="col-md-4">
    <div class="padding">
      Title: {{input value=title}} <button class="btn btn-primary" {{action 'addNote'}}>Add</button>
    </div>
    <div>
      <ul>
        {{#each model as |note|}}
          <li>
            {{#link-to 'notebooks.notes.note' note.id}}
              {{note.title}}
            {{/link-to}}
            <button  class="btn btn-danger btn-xs" {{action 'deleteNote' note}}>delete</button>
          </li>
        {{else}}
          <div>No notes found</div>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    {{outlet}}
  </div>
</div>
